#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Exclude the .zip files that the Terraform archive_file generates:
lambda-packages/*.zip
